{
  "SUPABASE_URL": "https://sfpnjwllcmentoocylow.supabase.co",
  "SUPABASE_ANON_KEY": "SUA_ANON_KEY_AQUI",
  "SUPABASE_SERVICE_ROLE_KEY": "SUA_SERVICE_ROLE_KEY_AQUI",
  "ADMIN_EMAIL": "geovane.silva@verticalparts.com.br",
  "ADMIN_PASSWORD": "SENHA_DO_ADMIN",
  "COLLAB_EMAIL": "EMAIL_DO_COLABORADOR",
  "COLLAB_PASSWORD": "SENHA_DO_COLABORADOR"
}
